{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/main.css') }}" />
{% endblock %}

{% block body %}

<div id="formDiv">

    {{  form_start(form) }}
    {{ form_widget(form) }}

    <input id="submit" class="btn btn-default" type="submit" />
    {{ form_end(form) }}

    {% if flashes is not null %}
        {% for flashMessage in flashes.get('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="fa fa-check"></i> {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in flashes.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="fa fa-cross"></i> {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}

</div>

<h1 class="text-center">Deezer Favorit Track List</h1>

<div id="table">
        {# display grid #}
        <div id="trackTable" class="table table-striped tablesorter">
              <div id="tableHeader" class="row">
                    <div class="col-md-3">Id  </div>
                    <div class="col-md-3">Title </div>
                    <div class="col-md-3">Duration </div>
                    <div class="col-md-3">Delete?</div>
              </div>
            <div id="react-paginate" class="text-center">
            </div>
        </div>
</div>



{% endblock %}

{% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
